{% extends "bey-page.html" %}
{% block mainbody %}
    <form action="/myapp/register/" method="POST">
        <div class="register-container animated fadeInDown">
            <div class="registerbox bg-white">
                <div class="registerbox-title">用户注册1</div>

                <div class="registerbox-caption ">请填写您的注册信息1</div>
                <div class="registerbox-textbox">
                    <input type="text" class="form-control" required name="username" placeholder="用户名">
                </div>
                <div class="registerbox-textbox">
                    <input type="password" class="form-control" required name="password1" placeholder="请输入密码">
                </div>
                <div class="registerbox-textbox">
                    <input type="password" class="form-control" required name="password2" placeholder="请确认输入密码">
                </div>
                <hr class="wide">
                <div class="registerbox-textbox">
                    <input type="text" class="form-control" placeholder="请输入您的姓名">
                </div>
                <div class="registerbox-textbox">
                    <input type="text" class="form-control" placeholder="请输入您的邮箱">
                </div>
                <div class="registerbox-textbox">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6 padding-right-10">
                            <input type="text" class="form-control" placeholder="月">
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3 no-padding padding-right-10">
                            <input type="text" class="form-control" placeholder="日">
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3 no-padding-left">
                            <input type="text" class="form-control" placeholder="年">
                        </div>
                    </div>
                </div>
                <div class="registerbox-textbox no-padding-bottom">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="colored-primary" checked="checked">
                            <span class="text darkgray">我同意 <a class="themeprimary">服务条款</a> 和 <a class="themeprimary">隐私政策</a> </span>
                        </label>
                    </div>
                </div>
                <div class="registerbox-submit">
                    <input type="submit" class="btn btn-primary pull-right" value="提交">
                </div>
            </div>
            <div class="logobox">
              验证码
                {{captcha1}}
            </div>
        </div>

    </form>
{% endblock %}