<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资质评审报告管理</title>
    <title>Bootstrap 实例 - 默认的导航栏</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/mycss.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{#navbar-fixed-top#}
<nav class="navbar navbar-default navbar-inverse " role="navigation" style="padding: 5px;margin-bottom: 5px">
    <div class="container">
{#    <div class="container-fluid">#}
        <div class="navbar-header col-md-2 hidden-sm hidden-xs">
            <a class="navbar-brand" href="/index/">主页</a>
        </div>
        <div class="col-md-10">
            <ul class="nav navbar-nav">
                <li  class="active col-sm-4 col-xs-4 "><a href="/readword/">读取word</a></li>
                <li class="col-sm-4 col-xs-4"><a href="/lstbiao4/?page=1">表4列表</a></li>
                <li class="col-sm-4 col-xs-4"><a href="/genbiao4/">生成表4</a></li>
                <li class="col-sm-4 col-xs-4"><a href="/uploadfile/">传递文件</a></li>
                <li class="col-sm-4 col-xs-4"><a href="/index/">返回首页</a></li>

                <li class="dropdown col-sm-4 col-xs-4">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        系统工具
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/">管理工具</a></li>
                        <li><a href="/changeword/">改变word文档内容</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">{{ hello }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content" style="padding: 1px;margin: 10px">
{% block mainbody %}
{% endblock %}
</div>
</body>
</html>