{% extends "bey-base.html" %}
{% block mainbody %}

    <div class="page-content">
        <!-- 面包屑导航 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">资质评审</a>
                </li>
                <li class="active">不符合项信息</li>
            </ul>
        </div>
        <!-- /面包屑导航 -->
        <!-- 页面主体 -->
        <form action="" method="Post" novalidate>
            {% csrf_token %}
            <div class="page-body">

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="widget">
                            <div class="widget-header bordered-top bordered-palegreen">
                                <span class="widget-caption">不符合信息编辑</span>
                            </div>

                            <div class="widget-body">
                                <div class="collapse in">

                                    {% for field in form %}
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-xs-3 col-sm-3 col-md-3 ">
                                                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                                                </div>
                                              <div class="col-xs-5 col-md-5 col-sm-5">
                                                {% if field.name == 'bfhxwcdate' %}
                                                    <div>
                                                        <div class="input-group">
                                                            <input class="form-control date-picker"
                                                                   id="id-date-picker-1" type="text"
                                                                   data-date-format="yyyy-mm-dd">
                                                            <span class="input-group-addon">
                                                               <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>

                                                {% else %}


                                                        <div>{{ field }}</div>

                                                {% endif %}
                                               </div>
                                                <div class="col-xs-4 col-md-4 col-sm-4">
                                                    <span>{{ field.errors.0 }}</span>
                                                </div>
                                            </div>
                                            {% if field.label == "条款号" %}
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 ">

                                                            <select class="tkzj" id="e1" onchange="showhctk(this)">

                                                                {% for field in hcblst %}
                                                                    <option value={{ field.zhangbh }}>
                                                                    {{ field.zhangbh }} {{ field.zhangmc }}
                                                                {% endfor %}
                                                            </select>

                                                        </div>
                                                        <div class=" col-xs-9 col-sm-9 col-md-9 ">

                                                            <select class="tkjn" id="e2" onchange="selecthctk(this)">


                                                                <option value="AL">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>

                                    {% endfor %}

                                </div>
                                <div class="row"><input style="margin-right: 80px" class="btn btn-primary pull-right"
                                                        type="submit"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>






    <!-- /页面主体 -->


{% endblock %}