

{% extends "base.html" %}
{% block mainbody %}
<table class="table table-bordered">
	<caption>
        <p>建议批准的检验检测能力表</p>
        <p>检验检测场所地址: 广州市番禺区石碁镇华腾路22号35栋</p>

    </caption>
	<thead>
		<tr>
			<th>领域<br>序号</th>
			<th>领域</th>
			<th>类别<br>序号</th>
			<th>类别</th>
			<th>对象<br>序号</th>
			<th>检测<br>对象</th>
			<th>项目<br>序号</th>
			<th>参数<br>名称</th>
			<th>依据的标准（方法）<br>名称及编号（含年号）</th>
			<th>限制<br>范围</th>
			<th>说明</th>
		</tr>
	</thead>
	<tbody>
    {% for lst in biao4 %}
		<tr>
			<td>{{lst.lyxh}}</td>
			<td>{{lst.lyname}}</td>
			<td>{{lst.lbxh}}</td>
			<td>{{lst.lb}}</td>
			<td>{{lst.dxxh}}</td>
			<td>{{lst.duixiang}}</td>
			<td>{{lst.xmxh}}</td>
			<td>{{lst.csmc}}</td>
			<td>{{lst.yjbz}}</td>
			<td>{{lst.xzfw}}</td>
			<td>{{lst.sm}}</td>

		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}