{% extends "bey-base.html" %}
{% block mainbody %}

    <div class="page-content">
        <!-- 面包屑导航 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">资质评审</a>
                </li>
                <li class="active">表7-2 信息表列表</li>
            </ul>
        </div>
        <!-- /面包屑导航 -->
        <!-- 页面主体 -->
        <form action="" method="Post" novalidate>
            {% csrf_token %}


            <div class="widget">
                <div class="widget-header bordered-top bordered-palegreen">
                    <span class="widget-caption">表7-2 信息表列表编辑</span>
                </div>
                <div class="widget-body">
                    <div class="collapse in">
                        <form role="form">

                            {% for field in form %}
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-4 col-sm-3 col-md-3 ">

                                            <label {% if field.errors.0 %} style="color: red" {% endif %}
                                                                           for="id_{{ field.name }}">{{ field.label }}</label>
                                        </div>

                                        <div class="col-xs-8 col-md-5 col-sm-5">

                                            {% if field.widget_type == 'checkbox' %}

                                                <div>
                                                    <label>
                                                        <input type="checkbox" class="colored-success"
                                                               name="{{ field.name }}"
                                                               {% if field.value %}checked="checked" {% endif %}>
                                                        <span class="text"></span>
                                                    </label>
                                                </div>
                                            {% else %}
                                                <div>{{ field }}</div>
                                            {% endif %}

                                        </div>
                                        <div class="hidden-xs col-xs-12 col-md-4 col-sm-4"><span
                                                style="color: blue">{{ field.errors.0 }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="row"><input style="margin-right: 80px" class="btn btn-primary pull-right"
                                                    type="submit"></div>
                        </form>
                    </div>
                </div>
            </div>


        </form>


        <!-- /页面主体 -->
    </div>

{% endblock %}