{% extends "beybase.html" %}
{% block mainbody %}

    <div class="page-content">
        <!-- 面包屑导航 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">资质评审</a>
                </li>
                <li class="active">被评审单位信息</li>
            </ul>
        </div>
        <!-- /面包屑导航 -->
        <!-- 页面主体 -->
        <form action="/myapp/add_Bpsdwxx/" method="Post" novalidate>
            {% csrf_token %}


            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-palegreen">
                        <span class="widget-caption">Default Inputs</span>
                    </div>
                    <div class="widget-body">
                        <div class="collapse in">
                            <form role="form">

                                {% for field in form %}
                                    <div class="form-group col-xs-6 col-sm-6">
                                        <div class=""><label for="id_{{ field.name }}">{{ field.label }}</label>
                                        </div>
                                        <div>{{ field }}
                                        </div>
                                        <div><span>{{ field.errors.0 }}</span>
                                        </div>
                                    </div>

                                {% endfor %}
                                <div class="pull-right"><input type="submit"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            {#                <div class="form-group">#}
            {#                    <label for="id_{{ field.name }}">{{ field.label }}</label>#}
            {#                    <div class="form-control input-xs">#}
            {#                        {{ field }} <span>{{ field.errors.0 }}</span>#}
            {#                    </div>#}
            {##}
            {##}
            {#                    <input type="text" class="form-control input-xs" id="xsinput" placeholder="Extra Small Input">#}
            {#                </div>#}


            {#                <div>#}
            {#                    <label for="id_{{ field.name }}">{{ field.label }}</label>#}
            {#                    {{ field }} <span>{{ field.errors.0 }}</span>#}
            {#                </div>#}


        </form>


        <!-- /页面主体 -->
    </div>

{% endblock %}