

{% extends "base.html" %}
{% block mainbody %}


	<caption>
        <p>评审信息列表</p>
        <p>检验检测场所地址: 22号35栋</p>
    </caption>
       <div class="table-responsive">
    <table class="table table-bordered table-striped">
	<thead class="head">
		<tr class="headline">
			<th class="lyxh">领域<br>序号</th>
			<th class="ly hidden-xs">领域</th>
			<th class="lbxh">类别<br>序号</th>
			<th class="lb">类别</th>
			<th class="dxxh">对象<br>序号</th>
			<th class="jcdx">检测<br>对象</th>
			<th class="xmxh">项目<br>序号</th>
			<th class="cxmc">参数<br>名称</th>
			<th class="jcyj">依据的标准（方法）<br>名称及编号（含年号）</th>
			<th class="xzfw">限制<br>范围</th>
			<th class="sm">说明</th>
		</tr>
	</thead>
	<tbody>
    {% for lst in page %}
		<tr>
			<td>{{lst.lyxh}}</td>
			<td class="hidden-xs">{{lst.lyname}}</td>
			<td>{{lst.lbxh}}</td>
			<td>{{lst.lb}}</td>
			<td>{{lst.dxxh}}</td>
			<td>{{lst.duixiang}}</td>
			<td>{{lst.xmxh}}</td>
			<td>{{lst.csmc}}</td>
			<td>{{lst.yjbz}}</td>
			<td>{{lst.xzfw}}</td>
			<td class="bsm">{{lst.sm}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
  </div>


 <div class="container">
    <nav aria-label="Page navigation">
      <ul class="pagination">

        <!--上一页-->
        <li class="{% if not page.has_previous %}disabled{% endif %}">
          {% if page.has_previous %}
            <a href="/myapp/lstbiao4/?page={{ page.previous_page_number }}" aria-label="Previous">
          {% endif %}
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <!--页码-->
        <!--这里展示页码使用传递过来的dis_range -->
        {% for num in dis_range %}
        <li class="{% if num == page.number %}active{% else %}{% endif %}"  >
          <a href="/myapp/lstbiao4/?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        <!--下一页-->
        <li class="{% if not page.has_next %}disabled{% endif %}" >
          {% if page.has_next %}
{#            <a href="{% url 'index' %}?page={{ page.next_page_number }}" aria-label="Next">#}
            <a href="/myapp/lstbiao4/?page={{ page.next_page_number }}" aria-label="Next">
          {% endif %}
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}