<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
                                <input type="radio" name="nlyz1"  id="id_nlyz">11111 <br>
                                <input type="radio" name="nlyz2" id="id_nlyz">22222 <br>
                                <input type="radio" name="nlyz3" id="id_nlyz">333333 <br>
                                <input class="checkbox-slider toggle colored-blue" type="checkbox">dddf<br>
                            </form>
</body>
</html>