<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资质评审报告管理</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">资质报告</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="http://127.0.0.1:8000/readword/">读取word</a></li>
			<li><a href="#">SVN</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Java
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">打电话</a></li>
					<li><a href="#">EJB</a></li>
					<li><a href="#">Jasper Report</a></li>
					<li class="divider"></li>
					<li><a href="#">分离的链接</a></li>
					<li class="divider"></li>
					<li><a href="#">{{ hello }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>


<table class="table table-bordered">
	<caption>
        <p>建议批准的检验检测能力表</p>
        <p>检验检测场所地址: 广州市番禺区石碁镇华腾路22号35栋</p>

    </caption>
	<thead>
		<tr>
			<th>领域<br>序号</th>
			<th>领域</th>
			<th>类别<br>序号</th>
			<th>类别</th>
			<th>对象<br>序号</th>
			<th>检测<br>对象</th>
			<th>项目<br>序号</th>
			<th>参数<br>名称</th>
			<th>依据的标准（方法）<br>名称及编号（含年号）</th>
			<th>限制<br>范围</th>
			<th>说明</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tanmay</td>
			<td>Bangalore</td>
			<td>560001</td>
		</tr>
		<tr>
			<td>Sachin</td>
			<td>Mumbai</td>
			<td>400003</td>
		</tr>
		<tr>
			<td>Uma</td>
			<td>Pune</td>
			<td>411027</td>
		</tr>
	</tbody>
</table>

</body>
</html>